<!DOCTYPE html>
<html>

  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="stylesheets/e.css">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body ng-app="app" ng-controller="control">
	
	  <button class="btn waves-effect waves-light " type="submit" ng-click="ver()">ver
	  </button>
  </body>

  <script>	
			
var app = angular.module('app', []);
app.controller('control', function($scope, $http) {

	 $scope.ver = function(){
		//cambiar a method: 'POST', url: 'api/posts
		$http({
			method: 'post',
			url: 'api/posts',
			contentType: 'application/json',
			headers: {
                    "authorization": localStorage.getItem("lastname")
                 },
			}).then(function (response) {
			alert(response.data.message);
		}, function (error) {
		//alert(error.data);
		});
		
	}
});
</script>
</html>
